:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px #0000004d;
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  color: #64676a;
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
.about-link:hover {
  color: var(--primary-color);
}
a:hover {
  color: #ffffff;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  margin-top: 40px;
}

.navigation-links a {
  border-radius: 4px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.application-link {
  background: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: #ffffff;
  padding: 20px 15px;
  text-decoration: none;
}

.about-paragraph {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  color: var(--primary-color);
  display: flex;
  font-size: 28px;
  justify-content: center;
  text-decoration: none;
}

.email-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.navigation-bar {
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 576px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 27px;
  }
  h3,
  .email-link {
    font-size: 19px;
  }
  p {
    font-size: 14px;
    text-align: justify;
  }
  .application-link,
  .navigation-links a {
    font-size: 14px;
  }
  .navigation-links {
    margin-top: 10px;
    margin-bottom: 18px;
  }
  .launch {
    text-align: center;
  }
  .weather-application {
    margin-bottom: 0 !important;
  }
  .about-images {
    margin-bottom: 17px;
  }
  .about-paragraph {
    margin: 20px 10px;
  }
}
